<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Title</th>
      <th>Category</th>
      <th>Published</th>
      <th>Access</th>
      <th>Comments count</th>
      <th>Losed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.url %></td>
        <td><%= article.title %></td>
        <td><%= article.category %></td>
        <td><%= article.published %></td>
        <td><%= article.access %></td>
        <td><%= article.comments_count %></td>
        <td><%= article.losed %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
